body {
  background-color: #3d3d3d;
  color: #e6e6e6;
  font-family: "Spleen Mono", monospace;
  line-height: 1.6;
  margin: 40px;
}

a {
  color: #bbbbbb;
}

h1, h2, h3 {
  color: #ffbb77;
}

pre, code {
  background: #1e1e1e;
  padding: 4px 6px;
  border-radius: 4px;
  
}
