@font-face {
  font-family: "PressStart2P";
  src: url("PressStart2P-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #292929;
  color: #e6e6e6;
  font-family: "PressStart2P";
  line-height: 1.6;
  margin: 40px;
}

li a {
  font-size: 1.2em;
  color: #ffbb77;
}

a {
  color: #bbbbbb;
}

h1, h2, h3 {
  color: #ffbb77;
}

pre, code {
  background: #1e1e1e;
  padding: 4px 6px;
  border-radius: 4px;
  
}
